@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src:
        url("../fonts/source-sans-pro-regular.woff2") format("woff2"),
        url("../fonts/source-sans-pro-regular.woff") format("woff")
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src:
       url("../fonts/oswald-regular.woff2") format("woff2"),
       url("../fonts/oswald-regular.woff") format("woff")
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src:
       url("../fonts/oswald-bold.woff2") format("woff2"),
       url("../fonts/oswald-bold.woff") format("woff")
}

body {
  width: 1492px;
  margin: 0 auto;

  font-family: "Oswald", sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
