.color-list {
  @include list-style;

  display: flex;
  flex-wrap: wrap;

  width: 360px;
}

.color-list__item {
  width: 18px;
  height: 18px;
  margin-right: 22px;

  border-radius: 50%;
  border: 2px solid #fffafa;
  box-shadow: 0 0 0 1px #cbcccf;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px #f05149;
  }
}

.color-list__item--active {
  box-shadow: 0 0 0 1px #f05149;
}

.color-list__item--blue-gray {
  background: linear-gradient(#5c68b5 50%,#adacaa 50%);
}

.color-list__item--black-gray {
  background: linear-gradient(#545351 50%,#adacaa 50%);
}

.color-list__item--yellow-gray {
  background: linear-gradient(#f5cc22 50%,#383735 50%);
}
