.features {
  display: flex;
  flex-wrap: wrap;

  width: 916px;
  margin: 0 auto;
}

.features__wrapper {
  width: 435px;
}
.features__image {
  margin-left: 31px;
  margin-top: 16px;
  margin-right: 90px;
}

.features__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 1.2;
  color: #212327;
  text-transform: uppercase;
}

.features__item {
  padding: 25px 0;
}

.features__text {
  margin: 0;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #212327;
}
