.link-list {
  @include list-style;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

  width: 740px;
  height: 145px;
}

.link-list__item {
  width: 115px;
  margin-right: 51px;

  &:nth-child(n + 16) {
    margin-right: 0;
  }
}

.link-list__item--long {
  width: 125px;
}
