.menu-list {
  font-size: 16px;
  line-height: 19px;
}

.menu-list__item {
  max-width: 215px;
  padding: 0 39px;
  padding-top: 41px;
}

.menu-list__item:hover .sub-menu {
  display: flex;
  flex-flow: row wrap;
}
