.moto-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  box-sizing: border-box;
  margin-left: 168px;
  margin-right: 190px;
}

.moto-description__info {
  width: 450px;
}

#blue-gray:checked ~ .moto-description__image {
  background-image:
    url("../img/bg-power.png"),
    url('../img/moto_blue.png');
}

#black-gray:checked ~ .moto-description__image {
  background-image:
    url("../img/bg-power.png"),
    url('../img/moto_black.png');
}

#yellow-gray:checked ~ .moto-description__image {
  background-image:
    url("../img/bg-power.png"),
    url('../img/moto_yellow.png');
}
