.moto-list {
  @include list-style;
}

.moto-list__item {
  box-sizing: border-box;
  margin-left: 168px;
  margin-right: 190px;
}

.moto-list__main-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.moto-list__info {
  width: 450px;
}
