.moto-image {
  position: relative;

  width: 593px;
  height: 498px;

  background-image:
    url("../img/bg-power.png"),
    url("../img/moto-image-big-YZF-R1.png");
  background-repeat: no-repeat;
  background-position:
    left top,
    right bottom 11%;
}

.moto-image__picture {
  margin-top: 58px;
  padding-left: 8px
}
