.page-main {
  width: 1492px;
  padding-top: 275px;
  margin: 0 auto;
}

.page-main__list {
  margin-bottom: 78px;
}

.page-main__slider {
  margin-bottom: 48px;
}

.page-main__description {
  margin-bottom: 110px;
}

.page-main__photos {
  margin-bottom: 40px;
}
