.slider-list {
  @include list-style;

  position: relative;

  display: flex;
  flex-wrap: wrap;

  width: 991px;
  margin: 0 auto;
  padding-bottom: 35px;
}

.slider-list::after {
  content: "";
  position: absolute;
  left: 37px;
  bottom: 17px;
  z-index: 5;

  width: 916px;
  height: 1px;

  background-color: #e3e3e3;
}

.slider-list__item {
  position: relative;

  width: 63px;
  margin-right: 169px;

  font-size: 12px;
  line-height: 1.2;
  color: #212327;
  text-transform: uppercase;

  &:nth-child(5n) {
    margin-right: 0;
  }
}

.slider-list__label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.slider-list__label::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translateX(-50%);
  z-index: 20;

  width: 13px;
  height: 13px;

  background-color: #c8c8c8;
  border-radius: 50%;
  transition: background-color 0.4s ease;
}

.slider-list__label:hover::after {
  background-color: black;
}

.slider-list__label:hover .slider-list__icon {
  fill: black;
}

.slider-list__icon {
  margin-bottom: 12px;

  fill: #d2d2d2;
  transition: fill 0.4s ease;
}

.slider-list__icon--power,
.slider-list__icon--life {
  margin-top: -5px;
}

.slider-list__input:checked + .slider-list__label::after {
  background-color: $color-main;
}

.slider-list__input:checked + .slider-list__label .slider-list__icon {
  fill: $color-main;
}
