.sponsors-list {
  @include list-style;

  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  width: 916px;
  margin: 0 auto;
  padding: 0 31px;
}

.sponsors-list__item {
  max-width: 195px;
  margin-right: 90px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-child(2) {
    margin-right: 66px;
  }
}

.sponsors-list__link {
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  opacity: 0.5;
  color: #212327;
  text-transform: uppercase;
  text-decoration: none;
}
