.sub-menu {
  @include list-style;
  position: absolute;
  top: 101px;
  left: -2px;

  display: none;
  flex-flow: row wrap;

  box-sizing: border-box;
  width: 1492px;
  padding: 0 99px;

  border-bottom: 1px solid #dadfe6;
}

.sub-menu__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  max-width: 340px;
  padding-top: 22px;
  padding-bottom: 19px;
  margin-right: 123px;

  &:hover {
    padding-bottom: 16px;

    border-bottom: 3px solid #ee3b33;
    cursor: pointer;
  }

  &:nth-child(5n) {
    margin-right: 0;
  }
}

.sub-menu__moto-name {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

.sub-menu__img {
  margin-bottom: 16px;
}
